body {
    text-align:center;
    background:#000;
    background-image:url(pexels-aldiyar-seitkassymov-3100836.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.counter-container {
    border:2px solid #fff;
    border-radius:15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    min-height: 100vh;
    box-shadow: 0 0 25px #000;
    background: rgb(221,174,238);
    background: radial-gradient(circle, rgba(221,174,238,1) 0%, rgba(148,226,233,1) 100%);
    margin:15%;
    max-width:100%;
}
button {
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    font-weight:bold;
    width:200px;
    margin-bottom:5px;
    border-radius:5px;
}

#increment-btn {
    background:#94e2e9;
    border: 2px solid #fff;
    color:#000;
}

#save-btn {
    background:#ddaeee;
    border: 2px solid #fff;
    color:#000;
}

h1 {
    font-size:2em;
    margin-top:10px;
    margin-bottom:10px;
}
h2 {
    font-size:1.5em;
    margin-top:0;
    margin-bottom:20px;
}
h3 {
    font-size:1.8em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#save-el {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.5em;
}